.container {
  width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:   "header"
                          "main"
                          "footer";
  grid-template-rows:   1fr 1fr 1fr;
  grid-template-columns:  960px;

}

body{
  font-family: sans-serif;
  margin: 0;
  background-color: black;
}

header {
  grid-area: header;
  background-color: RGB(231,150,199);
  height: 40px;
  width: 100%;
  grid-template-columns:  960px;
  text-align: center;
}

nav {
  grid-area: nav;
  margin: 0;
  background-color: RGB(231,150,199);
  top: 0;
  width: 100%;
}

nav ul {
  margin: 0;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  font-family:"Limelight";
  color: white;
  font-size: 18pt;
  padding: 10px;
  /* text-align: center; */
}

nav ul li a:hover{
  color: black;
}

a{
  text-decoration: none;
  color: black;
}


h1{
  Text-align: center;
  margin: 3px;
  font-family: 'Limelight', cursive;
}

img{
  width: 100%;
  height: 345px;
  margin: 0;
}

.wrapper {
  grid-template-columns: repeat(4, 24%);
  display: grid;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 0;
}

.items {
  background-color: RGB(231,150,199);
  width: 100%;
  padding: 3px;
  margin: 0;
  height: 350px;
  text-decoration: none;
}

.items:hover {
  background-color: rgb(251, 244, 124)
}

#tumbler{
  max-height: 300px;
  max-width: 300px;
  justify-content: center;
  margin-left: 25px;
  margin-right:50px;
}

#insta{
  height: 300px;
  width: 300px;
  justify-content: center;
  margin-left: 30px;
  margin-right:50px;
}

#twitter{
  height: 280px;
  width: 280px;
  justify-content: center;
  margin-left: 30px;
  margin-right:50px;
}

#fb{
  height: 300px;
  width: 300px;
  justify-content: center;
  margin-left: 30px;
  margin-right:50px;
}

footer{
  color: white;
  margin:2px;
}

.factboxes{
  grid-template-columns: repeat(3, 30%);
  display: grid;
  grid-gap: 30px;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 20px;
  margin-left: 10px;
}

.facts{
background-color: rgb(250,225,239);
width: 100%;
padding: 3px;
margin: 0;
height: 350px;
text-decoration: none;
}
