.content {
  grid-area: content;
}

.header {
  grid-area: header;
  height: 75px;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 120px 120px;
  grid-template-areas: "....... header  header" "sidebar content content";
}


.box{
  background-color: pink;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
  background color: blue;
}

li{
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: black
}
